body {
    background-color: #202020;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 500px;
}

.omnisearch-content {
    display: flex;
    flex-direction: column;
    background-color: #4d3ca6;
    border-radius: 5%;
    font-size: 20px;
    font-weight: bold;
    padding: 5%;
    flex-wrap: nowrap;
}

#settings-button {
    position: absolute;
    top: 5vh;
    right: 5vh;
    background-color: #202020;
    border: none;
    cursor: pointer;
}