:root {
    --grey: #E3E5E8;
    --dark: #2E3338;
    --purple: #6C31E3;
    --light-purple: #8758FF;
    --off-white: #F5F6F8;
}

body {
    background-color: var(--grey);
    color: var(--dark);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    min-width: 400px;
    min-height: 400px;
}

#popup-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#query-text {
    display: flex;
    color: var(--light-purple);
    font-weight: bold;
    font-family: Inter;
    font-size: 1.25rem;
    margin: 5%;
}

#omnisearch-content {
    display: flex;
    flex-direction: column;
    background-color: var(--off-white);
    border-radius: 5px;
    font-size: 1rem;
    margin: 0 5% 5% 5%;
    padding: 5%;
    flex-wrap: nowrap;
    color: var(--dark);
    width: 80%;
    overflow-y: scroll;
    scrollbar-width: thin;
}